BOT_TOKEN=

API_ID=
API_HASH=

POSTGRES_DB=lead_scanner
POSTGRES_USER=lead_scanner
POSTGRES_PASSWORD=lead_scanner_password

BOT_ADMIN_IDS=232307602

PHOENIX_COLLECTOR_ENDPOINT=http://phoenix:6006/v1/traces
PHOENIX_PROJECT_NAME=ai-lead-scanner
PHOENIX_ENABLED=true